{
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"printWidth": 160,
	"useTabs": true,
	"tabWidth": 4,
	"endOfLine": "auto",
	"arrowParens": "always",
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "ignore",
	"singleAttributePerLine": true
}
